//--------------------------------------------------------多色設定------//
body {
  &.colorA {
    background: url('../images/body_bg.jpg') no-repeat left top;
    background-size: 100% auto;
    background-attachment: fixed;
    color: #314868;
    .personalinfo {
      background: linear-gradient(175deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 20%, rgba(218, 243, 250, 0.4) 100%);
    }
    .personalinfo:before {
      background: url(../images/personalinfo_bg.png) no-repeat right 10px bottom;
      background-size: 90% auto;
    }
    .more {
      a {
        &:before {
          background: url('../images/arrow.svg') no-repeat center center;
          background-size: 14px auto;
        }
      }
    }
    .albumSlider .swiperArrow::before,
    .videoSlider .swiperArrow::before {
      background: url(../images/ar2.svg) center no-repeat;
    }
  }
  &.colorB {
    background: url('../images/body_bg_b.jpg') no-repeat left top;
    background-size: 100% auto;
    background-attachment: fixed;
    color: #333;
    .personalinfo {
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 10.49%, rgba(255, 255, 255, 0) 21.86%), linear-gradient(180deg, rgba(255, 255, 255, 0.91) 0%, rgba(227, 248, 249, 0.4) 100%);
    }
    .personalinfo:before {
      background: url(../images/personalinfo_bg2.png) no-repeat right 10px bottom;
      background-size: 90% auto;
    }
    .more {
      a {
        &:before {
          background: url('../images/arrow_b.svg') no-repeat center center;
          background-size: 14px auto;
        }
      }
    }
    .albumSlider .swiperArrow::before,
    .videoSlider .swiperArrow::before {
      background: url(../images/ar2b.svg) center no-repeat;
    }
  }
  &.colorC {
    background: url('../images/body_bg_c.jpg') no-repeat left top;
    background-size: 100% auto;
    background-attachment: fixed;
    color: #333;
    .personalinfo {
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 10.49%, rgba(255, 255, 255, 0) 21.86%), linear-gradient(180deg, rgba(255, 255, 255, 0.91) 0%, rgba(255, 237, 172, 0.74) 100%);
    }
    .personalinfo:before {
      background: url(../images/personalinfo_bg3.png) no-repeat right 10px bottom;
      background-size: 90% auto;
    }
    .more {
      a {
        &:before {
          background: url('../images/arrow_c.svg') no-repeat center center;
          background-size: 14px auto;
        }
      }
    }
    .albumSlider .swiperArrow::before,
    .videoSlider .swiperArrow::before {
      background: url(../images/ar2c.svg) center no-repeat;
    }
  }
}
// 同版面，多色快速調整 sass map實作
// 參數可再自行新增
$colorStyleConfig: (
  colorA: (
    // class 名稱
    colorPrimary: #005382,
    colorSecondary: #781f79,
    aColor: #005382,
    aHover: #333c46,
    aFocus: #00a4f9,
    formFocus: #00a4f9,
    form-btn: #00a4f9,
    footerBg: #1dc2bd,
    colorWord: #314868,
    tabBg: #edf9fb,
    tabBorder: #bde6f2,
    datetImebox: #edf9fb,
    btnBorder: #4bc8e1,
    btnBgColor: #005382,
    btnBgColor2: #4bc8e1,
    moreBorder: #bde6f2,
    tdBorder: #bde6f2,
    thBg: #edf9fb,
    npLitBorder: #4bc8e1,
    pageSearchBg: #edf9fb,
    textContentBg: #fff,
  ),
  colorB: (
    // class 名稱
    colorPrimary: #284b36,
    colorSecondary: #22be22,
    aColor: #284b36,
    aHover: #298729,
    aFocus: #298729,
    formFocus: #298729,
    form-btn: #298729,
    footerBg: #97bc49,
    colorWord: #333,
    tabBg: #ebfae0,
    tabBorder: #97bc49,
    datetImebox: #ebfae0,
    btnBorder: #97bc49,
    btnBgColor: #284b36,
    btnBgColor2: #298729,
    moreBorder: #97bc49,
    tdBorder: #c4dc90,
    thBg: #ebfae0,
    npLitBorder: #97bc49,
    pageSearchBg: #ebfae0,
    textContentBg: #fff,
  ),
  colorC: (
    // class 名稱
    colorPrimary: #64382a,
    colorSecondary: red,
    aColor: #64382a,
    aHover: #da6f0d,
    aFocus: #da6f0d,
    formFocus: #00a4f9,
    form-btn: #00a4f9,
    footerBg: #f29845,
    colorWord: #333,
    tabBg: #fff9f1,
    tabBorder: #d96a04,
    datetImebox: #fff9f1,
    btnBorder: #dfab7a,
    btnBgColor: #64382a,
    btnBgColor2: #da6f0d,
    moreBorder: #dfab7a,
    tdBorder: #ebbc90,
    thBg: #fff9f1,
    npLitBorder: #dfab7a,
    pageSearchBg: #fff9f1,
    textContentBg: #fff,
  ),
);

// color: map-get($value, colorPrimary);

@each $item, $value in $colorStyleConfig {
  .#{$item} {
    //_font
    a {
      color: map-get($value, aColor);
      &:hover,
      &:focus {
        color: map-get($value, aHover);
      }
    }
    h2 {
      color: map-get($value, colorPrimary);
    }
    .unit {
      background: map-get($value, colorPrimary);
    }
    input,
    textarea,
    select,
    button {
      border: solid 1px map-get($value, moreBorder);
    }
    button:focus-visible,
    input[type='text']:focus-visible,
    input[type='reset']:focus-visible,
    input[type='file']:focus-visible,
    input[type='tel']:focus-visible,
    input[type='email']:focus-visible,
    input[type='password']:focus-visible,
    textarea:focus-visible,
    select:focus-visible {
      border: 1px solid lighten(map-get($value, formFocus), 0);
      box-shadow: 0px 0px 0px 2px lighten(map-get($value, formFocus), 0);
      outline: none;
    }
    input[type='checkbox']:checked,
    input[type='checkbox']:focus,
    input[type='radio']:checked,
    input[type='radio']:focus {
      border-color: map-get($value, formFocus);
      background-color: map-get($value, formFocus);
      outline: none;
    }
    input[type='radio']:checked,
    input[type='radio']:focus {
      border-color: #fff;
      background-color: map-get($value, formFocus);
      box-shadow: map-get($value, formFocus) 0 0 0 5px inset, map-get($value, formFocus) 0 0 0 2px;
    }

    input[type='checkbox']:focus {
      border-color: map-get($value, formFocus);
      background-color: map-get($value, formFocus);
      box-shadow: map-get($value, formFocus) 0 0 0 2px;
    }

    .personalinfo {
      .flexSet {
        .pending {
          li {
            a {
              color: map-get($value, colorWord);
            }
          }
        }
      }
    }
    .tabSet {
      background: map-get($value, tabBg);
      .tabItems {
        border-bottom: solid 6px map-get($value, tabBorder);

        button {
          color: map-get($value, colorPrimary);
          background: rgba(255, 255, 255, 0);
          border: none;
          @include screen('mobile') {
            font-size: 1em;
          }
          &:hover,
          &:focus {
            color: map-get($value, colorPrimary);
          }
          &:focus-visible {
            outline: none;
            box-shadow: 0 0px 0px 2px $aFocus inset;
            @include screen('mobile') {
              box-shadow: none;
            }
          }
          &.active {
            &:before {
              background: map-get($value, colorPrimary);
            }
          }
        }
      }

      .tabContent {
        display: none;
        position: relative;
        padding: 15px;
        // box-shadow: #bbb 0 0 0 1px inset;
        &.active {
          display: block;
        }
        a:focus {
          outline: none;
          box-shadow: 0 0px 0px 2px $aFocus inset;
          @include screen('mobile') {
            box-shadow: none;
          }
        }
      }
    }
    .personalinfo .flexSet .datetime .datetimebox {
      background: map-get($value, datetImebox);
    }
    //section
    section {
      .more {
        a {
          background: #fff;
          border: solid 1px map-get($value, moreBorder);

          &:hover,
          &:focus {
            background: map-get($value, btnBgColor);
            color: #fff;
          }
        }
      }
    }
    .language {
      a {
        color: #fff;
        &:hover,
        &:focus {
          color: #fff;
          background: map-get($value, colorPrimary);
        }
      }
      button {
        color: map-get($value, colorPrimary);
        border: none;
      }
      .colorBtn {
        border: solid 2px #fff;
      }
    }

    .tableList {
      table {
        th {
          background: map-get($value, colorPrimary);
        }
        tr {
          @include screen('xsMobile') {
            box-shadow: 0 0 0 0px map-get($value, moreBorder);
            border: solid 1px map-get($value, moreBorder);
          }
        }
        tr:nth-child(even) {
          @include screen('xsMobile') {
            background: map-get($value, tabBg);
          }
          td {
            background: map-get($value, tabBg);
          }
        }
        tbody {
          tr:nth-child(odd) {
            &:last-child {
              border-bottom: solid 1px lighten(map-get($value, tdBorder), 0);
            }
          }
        }
      }
      .btn {
        background: map-get($value, btnBgColor2);
        &:hover,
        &:focus {
          background: darken(map-get($value, btnBgColor2), 5);
        }
      }
    }

    .albumSlider,
    .videoSlider {
      .caption {
        background: map-get($value, tabBg);
      }
      button {
        border: none;
      }
    }
    .mobileSidebar {
      .mobileArea {
        background: map-get($value, colorPrimary);
      }
      button {
        &.sidebarClose {
          border: none;
        }
      }
    }
    .submenu {
      li {
        a {
          border: 1px solid map-get($value, npLitBorder);
          &:hover,
          &:focus-visible {
            background: map-get($value, colorPrimary);
            border: 1px solid map-get($value, aHover);
            color: #fff;
          }
        }
      }
    }
    .category {
      a {
        border: 1px solid map-get($value, btnBorder);
        &:hover,
        &:focus,
        &.active {
          color: #fff;
          background: lighten(map-get($value, colorPrimary), 5);
          border: 1px solid lighten(map-get($value, colorPrimary), 5);
        }
      }
    }

    .pagination {
      span {
        color: map-get($value, colorPrimary);
        margin: 0px 0.5em;
      }
      .page {
        li {
          a {
            &:hover,
            &:focus-visible {
              background: map-get($value, colorPrimary);
              color: #fff;
              border: solid 1px map-get($value, colorPrimary);
            }
          }
          &.active {
            a {
              color: #fff;
              background: map-get($value, btnBgColor2);
              border: solid 1px darken(map-get($value, btnBgColor2), 5);
            }
          }
        }
      }
    }

    .pageSearch {
      .pageSearchBtn {
        border: 1px solid map-get($value, btnBorder);
        color: map-get($value, colorPrimary);
        &:hover,
        &:focus {
          color: #fff;
          background: map-get($value, btnBgColor) url('../images/search_w.svg') no-repeat 10px center;
          background-size: 30px auto;
        }
      }
    }
    #pageSearchBox {
      background-color: map-get($value, tabBg);
      input,
      textarea,
      select,
      button {
        color: map-get($value, colorWord);
        border: 1px solid lighten(map-get($value, tdBorder), 5);
      }
      .btnSubmit {
        color: #fff;
        background: map-get($value, btnBgColor2);
        &:hover,
        &:focus {
          background: darken(map-get($value, btnBgColor2), 10);
        }
      }
    }
    .peopleSearch,
    .eventSearch {
      background: map-get($value, pageSearchBg);
      select,
      input {
        color: map-get($value, colorWord);
      }
      .btnSubmit {
        color: #fff;
        background: map-get($value, btnBgColor2);
        &:hover,
        &:focus {
          background: darken(map-get($value, btnBgColor2), 10);
        }
      }
    }
    .people_list {
      ol {
        li {
          border: solid 1px map-get($value, npLitBorder);
        }
      }
      .more {
        background: map-get($value, btnBgColor2);
        &:hover,
        &:active {
          background: map-get($value, btnBgColor);
        }
      }
    }
    .event_list {
      ul {
        &:before {
          background: map-get($value, tdBorder);
        }
      }
      .year-mm {
        background: map-get($value, colorPrimary);
      }
    }
    .webSearchBtn {
      button {
        border: none;
      }
    }
    .mobileSearchBtn,
    .sidebarCtrlBtn {
      border: none;
    }
    .btnSearch {
      background: lighten(map-get($value, btnBgColor), 15);
      border-color: lighten(map-get($value, btnBgColor), 15);
    }
    .listBlock {
      .title {
        background: map-get($value, colorPrimary);
      }
      ul {
        li {
          border-bottom: 1px solid lighten(map-get($value, tdBorder), 5);
        }
      }
    }
    //cp
    .cp {
      table {
        border-top: 3px solid map-get($value, npLitBorder);
        th {
          background: map-get($value, thBg);
        }
      }
    }
    .fileDownload {
      span {
        a {
          color: #fff;
        }
      }
    }

    .submenu2 {
      h3 {
        background: map-get($value, thBg);
      }
      li {
        a {
          border: 1px solid map-get($value, npLitBorder);
          border-left: 5px solid map-get($value, npLitBorder);
          background: map-get($value, textContentBg);
          &:hover,
          &:focus-visible {
            background: map-get($value, colorPrimary);
            border: 1px solid $aHover;
          }
        }
      }
    }
    .publishInfo {
      border-left: solid 5px map-get($value, colorPrimary);
    }
    //np
    .themeMenu {
      .title {
        background: map-get($value, colorPrimary);
      }
      ul {
        li {
          border-bottom: 1px solid lighten(map-get($value, tdBorder), 5);
          ul {
            background: map-get($value, thBg);
          }
        }
      }
    }

    //_footer
    footer {
      // background: map-get($value, footerBg);
      background: lighten(map-get($value, footerBg), 5);
      a {
        color: map-get($value, colorPrimary);
        &:hover,
        &:focus-visible {
          // color: darken(map-get($value, colorPrimary), 10);
        }
      }
      .footerLink {
        li {
          a {
            // color: #fff;
            // background: map-get($value, colorPrimary);
            &:hover,
            &:focus-visible {
              background: darken(map-get($value, colorPrimary), 0);
              color: #fff;
            }
          }
        }
      }
      .Copyright {
        color: map-get($value, colorPrimary);
      }
    }

    //_menu
    .mainMenu {
      // 預設選單 ul
      & > ul {
        // 第一層選單樣式
        & > li {
          & > a {
            color: map-get($value, colorPrimary);
            &:focus-visible {
              // box-shadow: 0 0 0 2px inset map-get($value, aHover);
            }
          }
          &.hasChild {
            & > a {
              &:hover,
              &:focus {
                background: map-get($value, colorPrimary);
                color: #fff;
                &:after {
                  transform: rotate(-45deg);
                  border: 2px solid #fff;
                  border-bottom: none;
                  border-left: none;
                  top: 1.3em;
                }
              }
            }
          }
          &.active,
          &:hover {
            & > a {
              // color: map-get($value, aHover);
              &:after {
                // border-color: map-get($value, aHover);
              }
            }
          }
        }
      }
      ul {
        li {
          ul {
            // 第二層選單樣式
            li {
              a {
                color: map-get($value, colorPrimary);
                &:hover,
                &:focus-visible {
                  // color: #fff;
                  // background: map-get($value, aHover);
                }
              }
            }
            li.hasChild {
              & > a {
                &:hover,
                &:focus-visible {
                  // background: map-get($value, colorPrimary);
                }
              }
            }
          }
        }
      }
    }

    //_tabs
    .tabSet {
      margin: 30px auto;
      .tabItems {
        button {
          &:focus-visible {
            box-shadow: 0 0px 0px 2px map-get($value, aFocus) inset;
          }
          &.active {
            // background: map-get($value, colorPrimary);
          }
        }
      }
    }
    .tabContent {
      a:focus {
        box-shadow: 0 0px 0px 2px map-get($value, aFocus) inset;
        @include screen('mobile') {
          box-shadow: none;
        }
      }
    }
    //rightBtnGrp
    .rightBtnGrp {
      .btnPrimary {
        // background: $colorPrimary;
        background: lighten(map-get($value, colorPrimary), 12);
        color: #fff;
        border: solid 1px lighten(map-get($value, colorPrimary), 12);

        &:hover,
        &:focus-visible {
          background: darken(map-get($value, colorPrimary), 0);
          border: solid 1px darken(map-get($value, colorPrimary), 0);
          color: #fff;
        }
      }
    }

    //_form
    // button:focus-visible,
    // input[type='text']:focus-visible,
    // input[type='reset']:focus-visible,
    // input[type='file']:focus-visible,
    // input[type='tel']:focus-visible,
    // input[type='email']:focus-visible,
    // input[type='password']:focus-visible,
    // textarea:focus-visible,
    // select:focus-visible {
    //   border-color: lighten(map-get($value, colorPrimary), 5);
    //   box-shadow: 0px 0px 0px 2px lighten(map-get($value, colorPrimary), 5);
    // }
    // input[type='checkbox']:checked,
    // input[type='checkbox']:focus,
    // input[type='radio']:checked,
    // input[type='radio']:focus {
    //   border-color: map-get($value, colorPrimary);
    //   background-color: map-get($value, colorPrimary);
    //   outline: none;
    // }
    // input[type='radio']:checked {
    //   box-shadow: #fff 0 0 0 3px inset, map-get($value, colorPrimary) 0 0 0 2px;
    // }
  }
}
