* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  &.noscroll {
    position: static;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
  }
}
.row {
  @include makeRow();
  & > div {
    box-sizing: border-box;
  }
}
// 最外圍預設為100%
.wrapper {
  width: 100%;
  margin: 0px auto;
  .container {
    padding: 0;
    // max-width: 100%;
  }
  @include screen('mobile') {
    // background: #fff;
    overflow: hidden;
    overflow-y: auto;
  }
}
// 整體共用container樣式，請注意首頁切版頁面的整齊
.container {
  margin: 0 auto;
  max-width: $containerMax; //請看_variable.scss
  position: relative;
  @include containerFixed;
}
.main {
  position: relative;
  margin: 0 auto 3em;
  @include screen('mobile') {
    padding-top: 60px;
  }
  // 可先設定一個中央區塊最大寬，限制accessKey對齊
  h2 {
    line-height: 1.25em;
  }
}
////////////////////////////////////////////////////////////
// 為了與首頁區隔，請在內頁加上innerPage ClassName
.innerPage {
  margin-top: 120px;
  @include screen('mobile') {
    margin-top: 35px;
  }
  & > .container {
    // padding-top: 1em;
    @include gutter(); //gutter 代表左右要留白
    padding: 0.5em 30px;
    display: flex;
    @include screen('mobile') {
      padding: 0.5em 15px;
    }
  }
  .centerBlock {
    flex: none;
    flex-basis: 100%;
    max-width: 100%;
    // padding-top: 120px;
    @include screen('mobile') {
      padding-top: 0;
    }
  }
  .leftBlock {
    flex: none;
    flex-basis: 260px;
    max-width: 260px;
    max-height: 80vh;
    overflow-y: auto;
    margin-right: 40px;
    padding-left: 5px;
    align-self: flex-start;
    position: sticky;
    top: 125px;
    &.hidden {
      & + .centerBlock {
        flex: none;
        flex-basis: 100%;
        max-width: 100%;
      }
    }
    & + .centerBlock {
      flex: auto;
      flex-basis: calc(100% - 300px);
      max-width: calc(100% - 300px);
    }
    @include screen('tablet') {
      display: none;
      & + .centerBlock {
        flex: none;
        flex-basis: 100%;
        max-width: 100%;
      }
    }
  }
}
.hidden {
  display: none;
}

.pagebg {
  background: #fff;
  border-radius: 15px;
  padding: 2em;
  @include screen('mobile') {
    padding-top: 2em !important;
    padding: 1em;
  }
}
